<p>Hello <%= @resource.name %>!</p>

<p>Please setup a new password to access your account through the link below.
p</p>

<p><%= link_to 'Set up Password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
